[submodule "src/test/compiler-offline-judge"]
	path = src/test/compiler-offline-judge
	url = git@github.com:XunGong99/compiler-offline-judge.git
[submodule "src/test/java/mxcompiler/ir"]
	path = src/test/java/mxcompiler/ir
	url = https://github.com/abcdabcd987/LLIRInterpreter/
