.settings/
**/.vscode/

ref.tar

/test.bash
/target/
/bin/

.classpath
.project

/src/test/compiler-offline-judge/
#/src/test/cases/

*.in
*.dump
*.out
*.asm
*.log
*.debug
*.o

*.class

eclipse-formatter.xml